<div>
  <h2>Payment info</h2>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit(paymentForm.value)">
    <mat-form-field>
      <mat-label>Card number</mat-label>
      <input matInput formControlName="cardNumber" [maxLength]="16">
      <mat-error *ngIf="paymentForm.get('cardNumber').hasError('required')">
        Field is required
      </mat-error>
      <mat-error *ngIf="paymentForm.get('cardNumber').hasError('pattern')">
        Invalid Card Number
      </mat-error>
    </mat-form-field>

    <div formGroupName="expirationDate">
      <mat-form-field>
        <mat-label>Month</mat-label>
        <input matInput formControlName="month" [maxLength]="2">
        <mat-error *ngIf="paymentForm.get('expirationDate.month').hasError('required')">
          Field is required
        </mat-error>
        <mat-error *ngIf="paymentForm.get('expirationDate.month').hasError('pattern')">
          Invalid format
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" [maxLength]="2">
        <mat-error *ngIf="paymentForm.get('expirationDate.year').hasError('required')">
          Field is required
        </mat-error>
        <mat-error *ngIf="paymentForm.get('expirationDate.year').hasError('pattern')">
          Invalid format
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>CCV</mat-label>
      <input matInput formControlName="securityCode" [maxLength]="3">
      <mat-error *ngIf="paymentForm.get('securityCode').hasError('required')">
        Field is required
      </mat-error>
      <mat-error *ngIf="paymentForm.get('securityCode').hasError('pattern')">
        Invalid format
      </mat-error>
    </mat-form-field>

    <br>
    <button class="button" mat-button color="primary" type="submit" [disabled]="!!paymentForm.invalid">Purchase</button>
  </form>
</div>
